@media (max-width: 1150px) {

    .nav-two .nav-link-two {
        display: none;
    }

    .cart-box input{
        display: none;
    }

    .cart-box .ri-heart-line{
        display: none;
    }

    .cart-box .ri-shopping-bag-line{
        /* font-size: 2vw; */
        display: flex;
    }

    .cart-box .ri-menu-line{
        display: flex;
        margin-left: auto;
        /* font-size: 2vw; */
    }
    
    .cart-box .ri-search-line{
        display: flex;
        /* font-size: 2vw; */
    }
    
    .cart-box .ri-account-pin-box-line{
        display: flex;
        /* font-size: 2vw; */
    }
    
}

@media (max-width: 700px) {
    
    .nav-one .nav-link{
        font-size: 2.2vw;
    }

    #list-box{
           font-size: 1.4vw;
    }

    .container #hide {
        font-size: 1.4vw;
    }

    .link-box a {
        font-size: 1.3vw;
    }

    #footer-box .nav-all-link a {
         font-size: 1.4vw;
    }

    .container #hide {
        display: grid;
    }

    #footer-box .nav-all-link {
        display: inline-grid;
    }

    /* .bigtext h1 {
        font-size: 3vw;
        font-weight: 200;
    } */

    #bigimg-text h1 {
        font-size: 3vw;
        font-family: none;
    }

}

@media (max-width: 980px) {
    #text-btn{
        bottom: 32vw;
    }

    #list-box{
        font-size: 1.6vw;
 }

 #hide{
    font-size: 1.6vw;
 }

    #The-Latest {
        flex-direction: column;
    }

    #Featured {
        flex-direction: column;
    }

    #man-woman-kid {
        flex-direction: column;
    }
    
    #footer-box #end-footer-box p {
        font-size: 1.5vw;
    }

    body #footer-nav .nav-item a {
        font-size: 1.5vw;
    }

}

@media (max-width: 450px) and (min-width:325px){
    #text-btn{
        bottom: 42vw;
    }

    #navItem{
        margin-right: -20px;
    }
}

@media (max-width: 330px) and (min-width: 200px){
    #text-btn{
        display: none;
    }
    #navItem{
        margin-right: -20px;
    }

}